# =========================
# DEPENDENCIAS
# =========================
node_modules/

# =========================
# PYTHON
# =========================
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# EXPO / REACT NATIVE
# =========================
.expo/
.expo-shared/
.expo-dev-client/
dist/
build/
web-build/

# =========================
# CACHE
# =========================
.metro-cache/
.gradle/

# =========================
# ANDROID
# =========================
android/.gradle/
android/app/build/
android/app/debug.keystore
android/build/
android/.cxx/

# Keystores
*.jks

# =========================
# IOS
# =========================
ios/Pods/
ios/build/

# =========================
# ENV
# =========================
.env
*.env
*.local

# =========================
# LOGS
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# CERTIFICADOS Y CLAVES
# =========================
*.p8
*.p12
*.key
*.mobileprovision

# =========================
# IDE
# =========================
.vscode/*
!.vscode/extensions.json
.idea/

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.orig.*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# CREDENCIALES Y CLAVES DE API
# =========================
inkavoice-ai-backend/striking-figure-478217-a4-dd71a5bfb048.json
# =========================
# CREDENCIALES Y CLAVES DE API
# =========================
